.activity {
    background-color: #2f4858;
    color: #FFFFFF;
}

.btn {
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    margin: 7px;
    border: none;
    background-image: none;
    background-color: #ed6b21;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.btn:active {
  background-color: #e34b5f;
}

/*
https://mycolor.space/?hex=%23ED6B21&sub=1
*/
