[Unit]
Description=Octotouch
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/octotouch
ExecStart=/usr/bin/xinit /opt/octotouch/octotouch -- :0 -nolisten tcp -nocursor
StandardOutput=journal
Restart=always
RestartSec=1s
TimeoutStopSec=5s
IgnoreSIGPIPE=no

[Install]
WantedBy=multi-user.target